<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="/css/registration.css">

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const form = document.querySelector("form");

            form.addEventListener("submit", function(event) {
                const phoneInput = document.querySelector('input[name="phoneNumber"]');
                if (!phoneInput.value.startsWith("+7")) {
                    phoneInput.value = "+7" + phoneInput.value;
                }
            });

            const passwordInput = document.getElementById("password");
            const togglePassword = document.getElementById("togglePassword");

            togglePassword.addEventListener("click", () => {
                const type = passwordInput.getAttribute("type") === "password" ? "text" : "password";
                passwordInput.setAttribute("type", type);
            });
        });
    </script>
</head>

<body>

<div class="container">

    <h1>Регистрация</h1>

    <!-- ===== ОШИБКА ===== -->
    <div th:if="${errorMessage != null}" class="error-message">
        <span th:text="${errorMessage}"></span>
    </div>

    <form action="/not-secured/v1/registration" method="post">

        <input type="text" name="firstName" placeholder="Имя" required>
        <input type="text" name="lastName" placeholder="Фамилия" required>

        <div class="phone-input-wrapper">
            <input type="tel" name="phoneNumber" placeholder="Номер телефона" required>
        </div>


        <input type="email" name="email" placeholder="Email" required>

        <div class="password-wrapper">
            <input type="password" id="password" name="password" placeholder="Пароль" required>
            <span id="togglePassword">👁️</span>
        </div>

        <button type="submit" class="btn">Зарегистрироваться</button>

    </form>

    <p>Уже есть аккаунт? <a href="/not-secured/login">Войти</a></p>

</div>

</body>
</html>